hr{
    border: none;
    border-top: 1px solid #AEC2B6;
}
.navbar-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-left{
    display: flex;
    margin: 2% 0;
    width: 100%;
    align-items: center;
}
.navbar-right{
    margin-right: 0%;
}

.navbar-item{
    margin-left: 3%;
    margin-right: 1%;
    font-size: 20px;
}

.navbar-topic{
    font-size: 25px;
    font-weight: bolder;
}

.active{
    font-weight: bold;
    color: #05BFDB;
}